@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root {

  /* Colors */
  --col-1: #B2D89B;
  --bg-col-1: #424242;
  --bg-col-2: #2c2c2c;
  --bg-col-3: #202020;
  --footer-col: #1d1d1d;

  /* Global Border Radius */
  /* For nested rounded corners reduce by 2 ie. next would be 5px; */
  --border-radius: 7px;
  --border-radius2: 5px;

  /* Default Margins */
  --default-margin: 20px;
}

body {
  position: absolute;
  width: 100%;
  overflow: hidden;
  bottom: 2vh;
  margin: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#container {
  margin: 0 auto;

  display: inline-flex;
  flex-direction: column;

  opacity: 0%;
  transition: all .5s ease;
}

#indicators_hud {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 5px;

  background: var(--bg-col-3);
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;

  padding: 5px;

  opacity: 100%;

  transition: all .5s ease;
}

#indicatorP {
  display: none;
}

#indicatorB {
  display: none;
}

#lights_hud {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 5px;

  background: var(--bg-col-3);
  border-radius: 0px 0px var(--border-radius) var(--border-radius);

  padding: 5px;

  opacity: 100%;

  transition: all .5s ease;
}

/* #indicator {
  display: inline-block;
  min-width: 23px;
  height: 23px;
  margin-right: 3px;
  background: var(--bg-col-1);
  border-radius: 50%;
} */

.button {
  flex-grow: 1;
  display: inline-block;
  min-width: 80px;
  height: 25px;

  background: var(--bg-col-1);
  border-radius: var(--border-radius2);

  color: #787878;
  font-weight: 600;
  text-align: center;
  line-height: 25px;
}

.button2 {
  flex-grow: 1;
  display: inline-block;
  min-width: 80px;
  height: 25px;

  background: var(--bg-col-1);
  border-radius: var(--border-radius2);

  color: #787878;
  font-weight: 600;
  text-align: center;
  line-height: 25px;
}

[data-on="true"] {
  background-color: var(--col-1) !important;
  color: #495841;
}

.helpers {
  margin-left: 20px;
  margin-bottom: 10px;
  color: white;
  opacity: 50%;
}

.helper {
  display: none;
  margin-left: 15px;
  margin-right: 15px;
}
