
.button {

    aspect-ratio: 144/121;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url('../assets/button_off.png');
    background-size: contain;
    background-repeat: no-repeat;

    margin: 4px;

    color: rgb(81, 81, 81);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 10pt;
    line-height: 14px;
}

/* this is method to change background image */
/* just apply second class to the object */
.blue {
    background-image: url('../assets/button_on_blue.png');
    color: #4e598f
}
.red {
    background-image: url('../assets/button_on_red.png');
    color: #95665D
}
.amber {
    background-image: url('../assets/button_on_amber.png');
    color: #948255
}
.green {
    background-image: url('../assets/button_on_green.png');
    color: #596a2d
}