.ta-module {
    aspect-ratio: 256/168;
    height: 100%;
    
    background-image: url('../assets/ta_off.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.module-on {
    background-image: url('../assets/ta_on.png')
}