.background { 

    display: flex;
    flex-direction: row;
    gap: 5px;

    padding: 2px;
    border: 10px solid ;
    background-image: url('./assets/texture.jpg');
    border-radius: 20px;
    border-image: url('./assets/image.png') 20 repeat;
}